@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/************************************************/
/*                 Design System                */
/************************************************/

:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --clr-purple: hsla(258, 40%, 35%, 1);
  --clr-green: hsla(135, 75%, 37%, 1);
  --clr-orange: hsla(33, 100%, 50%, 1);
  --clr-grey: hsla(0, 0%, 20%, 1);
  --clr-darkGrey: hsla(0, 0%, 10%, 1);
  --clr-textDark: hsla(0, 0%, 0%, 1);
  --clr-textLight: hsla(0, 0%, 17%, 1);
  --clr-white: hsla(0, 0%, 100%, 1);
  --gradient-orange: linear-gradient(
    90deg,
    #ff8b00 0%,
    rgba(255, 255, 255, 0) 100%
  );
  --gradient-purple: linear-gradient(
    90deg,
    #4c367e 0%,
    rgba(255, 255, 255, 0) 100%
  );
  --overlay-gradientPurple: linear-gradient(
    0deg,
    #4c367e -9.15%,
    rgba(0, 0, 0, 0) 100%
  );
  --overlay-purple: hsla(258, 40%, 35%, 0.6);
  --overlay-green: hsla(135, 75%, 37%, 0.6);
  --png-overlayOrange: invert(63%) sepia(38%) saturate(4546%) hue-rotate(359deg)
    brightness(102%) contrast(103%);
  --png-overlayGreen: invert(67%) sepia(98%) saturate(4666%) hue-rotate(104deg)
    brightness(91%) contrast(82%);
  --png-overlayPurple: invert(17%) sepia(73%) saturate(1671%) hue-rotate(240deg)
    brightness(86%) contrast(83%);
  --png-overlayGrey: invert(75%) sepia(0%) saturate(309%) hue-rotate(296deg)
    brightness(96%) contrast(85%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-thin: 100;
  --font-extraLight: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semiBold: 600;
  --font-bold: 700;
  --font-extraBold: 800;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*--------------------------*/
/*           RESET          */
/*--------------------------*/

html,
body,
span,
div,
section,
img,
h1,
h2,
h3,
h4,
h4,
h6,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/*
-
-
-
*/

/*--------------------------*/
/*      Common Styles       */
/*--------------------------*/

.sectionTitlePurple,
.sectionTitleWhite {
  font-weight: var(--font-bold);
  font-size: 20px;
}

.sectionTitlePurple {
  color: var(--clr-purple);
}

.sectionMainHeader {
  font-weight: var(--font-bold);
  font-size: 35px;
  line-height: 52.5px;
  color: var(--clr-textDark);
}

.sectionTitleWhite,
.sectionMainHeaderWhite {
  color: var(--clr-white);
}

.sectionMainHeaderGreenText {
  color: var(--clr-green);
}

.sectionSubHeader {
  font-weight: var(--font-medium);
  font-size: 25px;
  color: var(--clr-purple);
  line-height: 37.5px;
}

.gradientSeperatorPurple,
.gradientSeperatorOrange {
  background: var(--gradient-orange);
  height: 5px;
  width: 20%;
  margin-top: 10px;
}

.gradientSeperatorPurple {
  background: var(--gradient-purple);
}

.gradientSeperatorOrange {
  background: var(--gradient-orange);
}

/*
-
-
-
*/

/************************************************/
/*                 Main Styles                  */
/************************************************/

/*==========  ==========*/
.container {
  width: 100%;
  margin-inline: auto;
}

/*========== Navigation ==========*/
.navigationContainer {
  /* min-height: 200px; */
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  box-shadow: 0px 2px 10px 0px hsla(0, 0%, 0%, 0.25);
}

/*========== Navigation: Top Bar ==========*/
.navigationContainer .topBar {
  display: flex;
  background-color: var(--clr-purple);
  color: var(--clr-white);
  font-weight: var(--font-regular);
  font-size: var(--smaller-font-size);
}

.navigationContainer .topBar .topBarContent {
  width: 100%;
  display: flex;
  max-width: 1600px;
  margin-inline: auto;
  padding: 0px 30px;
  max-height: 30px;
  gap: 50px;
  justify-content: space-between;
}

.navigationContainer .topBar .topBarInfo,
.serviceLinks,
.socialLinks,
.topBarLeft,
.topBarRight {
  display: flex;
  padding: 0px;
}

/*========== Top Bar: Left ==========*/
.topBarRight {
  gap: 10px;
}

.topBar .topBarLeft .topBarInfo {
  gap: 75px;
}

.topBarInfo li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.topBarInfo li span {
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  background-size: contain;
}

.topBarInfo li .infoEmail {
  background-image: url(images/top-nav-email.png);
}

.topBarInfo li .infoLocation {
  background-image: url(images/top-nav-location.png);
}

.topBarInfo li .infoTime {
  background-image: url(images/top-nav-time.png);
}

/*========== Top Bar: Right ==========*/
.topBar .topBarRight .serviceLinks {
  display: flex;
  gap: 10px;
  align-items: center;
}

.topBarRight .serviceLinks li:nth-child(even) {
  border-left: solid 1px var(--clr-white);
  border-right: solid 1px var(--clr-white);
  padding: 0px 10px;
}

/*========== Top Bar Right: Social Links ==========*/
.topBarRight .socialLinks {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: -4px;
  margin-right: 5px;
  background-color: var(--clr-orange);
  align-items: center;
  padding: 5px 25px;
  min-height: 30px;
  z-index: 1;
}

.topBarRight .socialLinks div:hover {
  filter: var(--png-overlayGrey);
}

.topBarRight .socialLinks a div {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.socialLinks li .topSocialTwitter {
  background-image: url(images/top-nav-twitter.png);
}

.socialLinks li .topSocialFacebook {
  background-image: url(images/top-nav-facebook.png);
}

.socialLinks li .topSocialInstagram {
  background-image: url(images/top-nav-instagram.png);
}

.socialLinks li .topSocialPinterest {
  background-image: url(images/top-nav-pinterest.png);
}

/*========== Navigation: Main Navigation ==========*/
.navigationContainer .mainNavigation {
  width: 100%;
  color: var(--clr-textDark);
  background-color: var(--clr-white);
}

.navigationContainer .mainNavigation .mainNavigationContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
  column-gap: 100px;
  padding: 5px 30px;
}

/*========== Main Navigation: Logo ==========*/
.navigationContainer .mainNavigation .logo {
  display: flex;
  /*--- uncomment 2 lines below to make the logo text display under the logo ---*/
  /* flex-direction: column;
	text-align: center; */
  padding: 10;
  gap: 10px;
  align-items: center;
}

.navigationContainer .mainNavigation .logo img {
  max-width: 70px;
}

.mainNavigation .logo .logoText .logoTitle {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  line-height: 0px;
}

.mainNavigation .logo .logoText .logoSloagan {
  text-transform: capitalize;
  font-weight: 300;
  font-size: 12px;
  line-height: 10px;
}

/*========== Main Navigation: Navigation ==========*/
.navigationContainer .mainNavigation .navigation {
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-weight: var(--font-medium);
  font-size: 16px;
}

.mainNavigation .navigation li {
  padding: 5px 0px;
}

.mainNavigation .navigation li:hover,
.mainNavigation .navigation li:active {
  color: var(--clr-green);
  padding-bottom: 0px;
  border-bottom: solid 3px var(--clr-green);
}

/*========== Main Container ==========*/

.mainContainer {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  margin-inline: auto;
}

/*========== Main Container: Header Section ==========*/
.header {
  min-width: 100%;
  background-image: url(images/headerBg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.header .gradiantOverlay {
  padding: 100px 75px 70px 75px;
  background: var(--overlay-gradientPurple);
  color: var(--clr-white);
}

/*========== Header Section: Main Content ==========*/
.gradiantOverlay h1 {
  font-weight: var(--font-bold);
  font-size: 60px;
  line-height: 75px;
}

.gradiantOverlay p {
  font-weight: var(--font-regular);
  font-size: 20px;
  line-height: 25px;
}

.gradiantOverlay .gradientDevider {
  width: 15%;
  height: 5px;
  background: var(--gradient-orange);
  margin-bottom: 50px;
}

.gradiantOverlay .primaryCta {
  height: co;
  background-color: var(--clr-white);
  font-weight: var(--font-bold);
  color: #9a9a9a;
  border-radius: 100px;
  padding: 10px 0px 10px 40px;
  box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
}

.gradiantOverlay .primaryCta span {
  color: var(--clr-white);
  background-color: var(--clr-orange);
  padding: 10px 40px 10px 0px;
  border-radius: 0px 100px 100px 0px;
}

/*========== Header Section: Secondary CTA ==========*/
.gradiantOverlay .secondaryCta {
  width: 80%;
  margin: 170px auto 26px auto;
}

.secondaryCta .ctaList {
  display: flex;
  justify-content: space-between;
}

.ctaList li a .ctaListItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ctaList .ctaListItem div {
  width: 60px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.ctaList .secondaryCtaOneIcon {
  background-image: url(images/headerIconOne.png);
}

.ctaList .secondaryCtaTwoIcon {
  background-image: url(images/headerIconTwo.png);
}

.ctaList .secondaryCtaThreeIcon {
  background-image: url(images/headerIconThree.png);
}

/*========== About Us Section ==========*/
.aboutUs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  margin: 70px 90px;
}

/*========== About Us Section: Left ==========*/
.aboutUs .aboutUsLeft {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  line-height: 25px;
}

.aboutUs .aboutUsLeft .aboutUsCta {
  background-color: var(--clr-orange);
  box-shadow: 0px 2px 2px 0px hsla(0, 0%, 0%, 0.25);
  color: var(--clr-white);
  padding: 10px 20px;
  border-radius: 100px;
  font-weight: var(--font-bold);
  font-size: 16px;
  width: max-content;
  margin-top: 50px;
  margin-left: -2px;
}

.aboutUs .aboutUsLeft .aboutUsCta:hover {
  background-color: var(--clr-grey);
}

.aboutUs .aboutUsLeft p:nth-of-type(2) {
  margin-top: 0px;
  padding-right: 20%;
  line-height: 28px;
}

/*========== About Us Section: Right ==========*/
.aboutUs .aboutUsRight {
  position: relative;
  flex: 1;
}

.aboutUsRight .aboutUsRightGrid {
  display: flex;
}

.aboutUsRightGrid .gridLeft img {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 330px;
}

.aboutUsRightGrid .gridLeft {
  flex: 1;
}

.aboutUsRightGrid .gridLeft .leftTop {
  height: 270px;
  width: 270px;
  margin-left: 40px;
  margin-top: 65px;
  background-image: url(images/aboutUsRightTopLeft.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 100%;
}

.aboutUsRightGrid .gridLeft .leftBottomImage {
  width: 300;
  height: 200px;
  margin-left: 30px;
  margin-top: 30px;
  background-image: url(images/aboutUsRightBottomLeft.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutUsRightGrid .gridRightImage {
  flex: 1;
  margin-left: 20px;
  background-image: url(images/aboutUsRight.jpg);
  background-position: 70% center;
  background-size: cover;
  background-repeat: no-repeat;
}

.aboutUsRight .gridStat {
  position: absolute;
  width: 320px;
  height: 120px;
  bottom: 0;
  padding: 10px;
  transform: translate(60%, -35px);
  border-radius: 8px;
  background-color: var(--clr-white);
  color: var(--clr-white);
}

.aboutUsRight .gridStat .gridStatInner {
  width: 100%;
  height: 100%;
  background-color: var(--clr-purple);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 10px 30px;
}

.gridStatInnerLeft .gridStatInnerLeftNumber {
  font-weight: var(--font-bold);
  font-size: 28px;
  line-height: 0px;
}

.gridStatInnerRight .gridStatInnerLeftText {
  font-weight: var(--font-regular);
  font-size: 20px;
  line-height: 0px;
}

.gridStatInner .gridStatInnerRight img {
  width: 80px;
  background-color: var(--clr-green);
  padding: 10px;
  border-radius: 3px;
}

/*========== Our Services Section ==========*/
.ourServices {
  width: 100%;
  height: 100%;
  background-image: url(images/ourServicesBgBack.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ourServicesTopBg {
  width: 100%;
  height: 100%;
  background-image: url(images/ourServicesBgFront.png);
  background-position: 0 center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ourServices .colorOverlay {
  width: 100%;
  height: 100%;
  background: var(--overlay-purple);
  padding: 70px 90px;
}

/*========== Our Services: Card Rows ==========*/
.servicesGrid {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 50px;
}

.servicesGridRowOne,
.servicesGridRowTwo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.servicesGridRowOneCard,
.servicesGridRowTwoCard {
  position: relative;
  width: 310px;
  height: 310px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 15px;
  padding-top: 40px;
  background-color: var(--clr-white);
  border-radius: 10px;
}

.servicesGridRowOneCard:hover,
.servicesGridRowTwoCard:hover {
  background-color: var(--clr-orange);
  box-shadow: 4px 4px 65px 0px #00000073;
  color: var(--clr-white);
  transition: 0.3s ease-in-out;
}

.servicesGridRowOneCard:hover .cardIndicator span,
.servicesGridRowTwoCard:hover .cardIndicator span {
  background-color: #fff1aa;
  transition: 0.3s ease-in-out;
}

.servicesGridRowOneCard:hover .cardIndicator,
.servicesGridRowOneCard:hover .cardIndicator {
  top: -2px;
  transition: 0.3s ease-in-out;
}

.servicesGridRowOneCard .cardIndicator,
.servicesGridRowTwoCard .cardIndicator {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}

.servicesGridRowOneCard .cardIndicator span,
.servicesGridRowTwoCard .cardIndicator span {
  display: block;
  margin-inline: auto;
  width: 60px;
  height: 7px;
  border-radius: 5px;
  background-color: var(--clr-orange);
}

.servicesGridRowOneCard img,
.servicesGridRowTwoCard img {
  width: 80px;
  margin-inline: auto;
}

.servicesGridRowOneCard h5,
.servicesGridRowTwoCard h5 {
  width: 100%;
  text-align: center;
  line-height: 6px;
}

.servicesGridRowOneCard p,
.servicesGridRowTwoCard p {
  font-weight: var(--font-regular);
  font-size: var(--smaller-font-size);
}
